</div>

<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>
</div>

</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>
