<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Note down</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/stylesheets/app.css" rel="stylesheet">
  <link href="/stylesheets/highlight.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <form method="post" action="/s">
        <input type="text" name="q" autocomplete="off" placeholder="Search here..." autofocus="true" />
      </form>
    </div>
  </div>
  <div class="container">
